<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}">
 
</head>
<body>
    <div  class="bg-gray-50 w-1/2 p-4 mx-auto mt-4 text-4xl">
        
    <h1 class="text-3xl bg-blue-400 font-bold" data-th-text="${name}">
        Welcome to home page
    </h1>
    <p class="text-blue-950 bg-white" >Youtube Channel : <span data-th-text="${youtubeChannel}"></span></p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi dolores ea voluptatibus, vel fugiat saepe ab reiciendis libero dolor quasi consequatur distinctio a nihil deserunt accusamus commodi, neque facere, sit dicta ipsa impedit! Itaque dolor voluptatum nisi est tenetur sunt, perspiciatis magni. Repellat reiciendis totam aspernatur cum ad labore ducimus.</p>
 
    </div>
</body>
</html>