<!DOCTYPE html>
<html lang="en" th:replace="~{base ::parent(~{::#content}, ~{::title}, ~{::script})}">
<head>
    <title>Email Verified</title>
</head>
<body>
    <div id="content"  class="text-2xl mx-auto mt-5 md:w-1/2  text-center mt-10">
        <div  data-th-replace="message::messagebox"></div>
        <h1 class="text-green-500 font-bold">Success! Your email has been verified.</h1>
        <p class="text-gray-700 mt-4">Congratulations! Your email address has been successfully verified. You can now enjoy full access to your account.</p>
        <p>Please click the button below to proceed to the login page.</p>
        <a href="/login" class="bg-blue-500 text-white px-4 py-2 rounded mt-4">Login</a>
    </div>
    <script>
        console.log("Email Verified Page");
    </script>
</body>
</html>
